omad/xml/omad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="openmetadata:omad:1_0"
    targetNamespace="openmetadata:omad:1_0" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    <xs:element name="Omad" type="OmadType"/>
    <xs:complexType name="OmadType">
        <xs:sequence>
            <xs:element name="Organization" maxOccurs="unbounded" type="OrganizationType"> </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Group">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="IdentifiableType">
                            <xs:sequence>
                                <xs:element name="Organization" type="OrganizationType"/>
                                <xs:element maxOccurs="unbounded" minOccurs="0" ref="Member"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Abbreviation" type="InternationalStringType"/>
    <xs:complexType mixed="false" name="AddressType">
        <xs:annotation>
            <xs:documentation>A location address. (Note that country is not included in this element)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Line" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Number and street including office or suite number. May use multiple lines.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="City" type="xs:string">
                <xs:annotation>
                    <xs:documentation>City</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="State" type="xs:string">
                <xs:annotation>
                    <xs:documentation>State</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Postal" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Postal or ZIP Code</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="PRIVACY"/>
        <xs:attributeGroup ref="VERIFICATION_STATUS"/>
        <xs:attribute name="type" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Indicates address type (i.e. home, office, etc.)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <!-- COUNTRY -->
    <xs:simpleType name="BaseIDType">
        <xs:annotation>
            <xs:documentation>Provides a type which is used for restricting the characters in codes and IDs. Valid characters include A-Z, a-z, @, 0-9, _, -, $.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Z]|[a-z]|\*|@|[0-9]|_|$|\-)*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Description" type="InternationalStringType"/>
    <xs:complexType name="EmailType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="PRIVACY"/>
                <xs:attributeGroup ref="VALIDITY_PERIOD"/>
                <xs:attributeGroup ref="VERIFICATION_STATUS"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="EventLogType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Event" type="EventType">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EventType">
        <xs:sequence>
            <xs:element minOccurs="1" name="Title" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Details">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="timestamp" type="xs:dateTime" use="required"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="source" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="IdentifiableType">
        <xs:attribute name="id" type="BaseIDType" use="required"/>
    </xs:complexType>
    <xs:complexType name="InternationalStringType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="xml:lang"/>
                <xs:attribute name="type"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="Iso2CountryCodeType">
        <xs:annotation>
            <xs:documentation>Enumeration of ISO 2-letter country codes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AX">
                <xs:annotation>
                    <xs:documentation>Aaland Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AF">
                <xs:annotation>
                    <xs:documentation>Afghanistan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AL">
                <xs:annotation>
                    <xs:documentation>Albania</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DZ">
                <xs:annotation>
                    <xs:documentation>Algeria</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AS">
                <xs:annotation>
                    <xs:documentation>American Samoa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AD">
                <xs:annotation>
                    <xs:documentation>Andorra</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AO">
                <xs:annotation>
                    <xs:documentation>Angola</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AI">
                <xs:annotation>
                    <xs:documentation>Anguilla</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AQ">
                <xs:annotation>
                    <xs:documentation>Antarctica</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AG">
                <xs:annotation>
                    <xs:documentation>Antigua and Barbuda</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AR">
                <xs:annotation>
                    <xs:documentation>Argentina</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AM">
                <xs:annotation>
                    <xs:documentation>Armenia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AW">
                <xs:annotation>
                    <xs:documentation>Aruba</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AU">
                <xs:annotation>
                    <xs:documentation>Australia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AT">
                <xs:annotation>
                    <xs:documentation>Austria</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AZ">
                <xs:annotation>
                    <xs:documentation>Azerbaijan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BS">
                <xs:annotation>
                    <xs:documentation>Bahamas</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BH">
                <xs:annotation>
                    <xs:documentation>Bahrain</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BD">
                <xs:annotation>
                    <xs:documentation>Bangladesh</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BB">
                <xs:annotation>
                    <xs:documentation>Barbados</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BY">
                <xs:annotation>
                    <xs:documentation>Belarus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BE">
                <xs:annotation>
                    <xs:documentation>Belgium</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BZ">
                <xs:annotation>
                    <xs:documentation>Belize</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BJ">
                <xs:annotation>
                    <xs:documentation>Benin</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BM">
                <xs:annotation>
                    <xs:documentation>Bermuda</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BT">
                <xs:annotation>
                    <xs:documentation>Bhutan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BO">
                <xs:annotation>
                    <xs:documentation>Bolivia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BA">
                <xs:annotation>
                    <xs:documentation>Bosnia and Herzegowina</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BW">
                <xs:annotation>
                    <xs:documentation>Botswana</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BV">
                <xs:annotation>
                    <xs:documentation>Bouvet Island</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BR">
                <xs:annotation>
                    <xs:documentation>Brazil</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IO">
                <xs:annotation>
                    <xs:documentation>British Indian Ocean Territory</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BN">
                <xs:annotation>
                    <xs:documentation>Brunei Darussalam</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BG">
                <xs:annotation>
                    <xs:documentation>Bulgaria</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BF">
                <xs:annotation>
                    <xs:documentation>Burkina Faso</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BI">
                <xs:annotation>
                    <xs:documentation>Burundi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KH">
                <xs:annotation>
                    <xs:documentation>Cambodia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CM">
                <xs:annotation>
                    <xs:documentation>Cameroon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CA">
                <xs:annotation>
                    <xs:documentation>Canada</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CV">
                <xs:annotation>
                    <xs:documentation>Cape Verde</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KY">
                <xs:annotation>
                    <xs:documentation>Cayman Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CF">
                <xs:annotation>
                    <xs:documentation>Central African Republic</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TD">
                <xs:annotation>
                    <xs:documentation>Chad</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CL">
                <xs:annotation>
                    <xs:documentation>Chile</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CN">
                <xs:annotation>
                    <xs:documentation>China</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CX">
                <xs:annotation>
                    <xs:documentation>Christmas Island</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CC">
                <xs:annotation>
                    <xs:documentation>Cocos (Keeling) Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CO">
                <xs:annotation>
                    <xs:documentation>Colombia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KM">
                <xs:annotation>
                    <xs:documentation>Comoros</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CD">
                <xs:annotation>
                    <xs:documentation>Congo, Democratic Republic Of</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CG">
                <xs:annotation>
                    <xs:documentation>Congo, Republic Of</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CK">
                <xs:annotation>
                    <xs:documentation>Cook Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CR">
                <xs:annotation>
                    <xs:documentation>Costa Rica</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CI">
                <xs:annotation>
                    <xs:documentation>Cote D'ivoire</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HR">
                <xs:annotation>
                    <xs:documentation>Croatia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CU">
                <xs:annotation>
                    <xs:documentation>Cuba</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CW">
                <xs:annotation>
                    <xs:documentation>Curaçao</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CY">
                <xs:annotation>
                    <xs:documentation>Cyprus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CZ">
                <xs:annotation>
                    <xs:documentation>Czech Republic</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DK">
                <xs:annotation>
                    <xs:documentation>Denmark</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DJ">
                <xs:annotation>
                    <xs:documentation>Djibouti</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DM">
                <xs:annotation>
                    <xs:documentation>Dominica</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DO">
                <xs:annotation>
                    <xs:documentation>Dominican Republic</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EC">
                <xs:annotation>
                    <xs:documentation>Ecuador</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EG">
                <xs:annotation>
                    <xs:documentation>Egypt</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SV">
                <xs:annotation>
                    <xs:documentation>El Salvador</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GQ">
                <xs:annotation>
                    <xs:documentation>Equatorial Guinea</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ER">
                <xs:annotation>
                    <xs:documentation>Eritrea</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EE">
                <xs:annotation>
                    <xs:documentation>Estonia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ET">
                <xs:annotation>
                    <xs:documentation>Ethiopia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FK">
                <xs:annotation>
                    <xs:documentation>Falkland Islands (Malvinas)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FO">
                <xs:annotation>
                    <xs:documentation>Faroe Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FJ">
                <xs:annotation>
                    <xs:documentation>Fiji</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FI">
                <xs:annotation>
                    <xs:documentation>Finland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FR">
                <xs:annotation>
                    <xs:documentation>France</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GF">
                <xs:annotation>
                    <xs:documentation>French Guiana</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PF">
                <xs:annotation>
                    <xs:documentation>French Polynesia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TF">
                <xs:annotation>
                    <xs:documentation>French Southern Territories</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GA">
                <xs:annotation>
                    <xs:documentation>Gabon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GM">
                <xs:annotation>
                    <xs:documentation>Gambia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GE">
                <xs:annotation>
                    <xs:documentation>Georgia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DE">
                <xs:annotation>
                    <xs:documentation>Germany</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GH">
                <xs:annotation>
                    <xs:documentation>Ghana</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GI">
                <xs:annotation>
                    <xs:documentation>Gibraltar</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GR">
                <xs:annotation>
                    <xs:documentation>Greece</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GL">
                <xs:annotation>
                    <xs:documentation>Greenland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GD">
                <xs:annotation>
                    <xs:documentation>Grenada</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GP">
                <xs:annotation>
                    <xs:documentation>Guadeloupe</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GU">
                <xs:annotation>
                    <xs:documentation>Guam</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GT">
                <xs:annotation>
                    <xs:documentation>Guatemala</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GN">
                <xs:annotation>
                    <xs:documentation>Guinea</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GW">
                <xs:annotation>
                    <xs:documentation>Guinea-Bissau</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GY">
                <xs:annotation>
                    <xs:documentation>Guyana</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HT">
                <xs:annotation>
                    <xs:documentation>Haiti</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HM">
                <xs:annotation>
                    <xs:documentation>Heard and Mc Donald Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HN">
                <xs:annotation>
                    <xs:documentation>Honduras</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HK">
                <xs:annotation>
                    <xs:documentation>Hong Kong</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HU">
                <xs:annotation>
                    <xs:documentation>Hungary</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IS">
                <xs:annotation>
                    <xs:documentation>Iceland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN">
                <xs:annotation>
                    <xs:documentation>India</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ID">
                <xs:annotation>
                    <xs:documentation>Indonesia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IR">
                <xs:annotation>
                    <xs:documentation>Iran (Islamic Republic Of)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IQ">
                <xs:annotation>
                    <xs:documentation>Iraq</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IE">
                <xs:annotation>
                    <xs:documentation>Ireland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IL">
                <xs:annotation>
                    <xs:documentation>Israel</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IT">
                <xs:annotation>
                    <xs:documentation>Italy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JM">
                <xs:annotation>
                    <xs:documentation>Jamaica</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JP">
                <xs:annotation>
                    <xs:documentation>Japan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JO">
                <xs:annotation>
                    <xs:documentation>Jordan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KZ">
                <xs:annotation>
                    <xs:documentation>Kazakhstan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KE">
                <xs:annotation>
                    <xs:documentation>Kenya</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KI">
                <xs:annotation>
                    <xs:documentation>Kiribati</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KP">
                <xs:annotation>
                    <xs:documentation>Korea, Democratic People's Republic Of</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KR">
                <xs:annotation>
                    <xs:documentation>Korea, Republic Of</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KW">
                <xs:annotation>
                    <xs:documentation>Kuwait</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="XK">
                <xs:annotation>
                    <xs:documentation>Kosovo</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KG">
                <xs:annotation>
                    <xs:documentation>Kyrgyzstan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LA">
                <xs:annotation>
                    <xs:documentation>Lao People's Democratic Republic</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LV">
                <xs:annotation>
                    <xs:documentation>Latvia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LB">
                <xs:annotation>
                    <xs:documentation>Lebanon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LS">
                <xs:annotation>
                    <xs:documentation>Lesotho</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LR">
                <xs:annotation>
                    <xs:documentation>Liberia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LY">
                <xs:annotation>
                    <xs:documentation>Libyan Arab Jamahiriya</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LI">
                <xs:annotation>
                    <xs:documentation>Liechtenstein</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LT">
                <xs:annotation>
                    <xs:documentation>Lithuania</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LU">
                <xs:annotation>
                    <xs:documentation>Luxembourg</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MO">
                <xs:annotation>
                    <xs:documentation>Macau</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MK">
                <xs:annotation>
                    <xs:documentation>Macedonia, The Former Yugoslav Republic Of</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MG">
                <xs:annotation>
                    <xs:documentation>Madagascar</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MW">
                <xs:annotation>
                    <xs:documentation>Malawi</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MY">
                <xs:annotation>
                    <xs:documentation>Malaysia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MV">
                <xs:annotation>
                    <xs:documentation>Maldives</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ML">
                <xs:annotation>
                    <xs:documentation>Mali</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MT">
                <xs:annotation>
                    <xs:documentation>Malta</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MH">
                <xs:annotation>
                    <xs:documentation>Marshall Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MQ">
                <xs:annotation>
                    <xs:documentation>Martinique</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MR">
                <xs:annotation>
                    <xs:documentation>Mauritania</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MU">
                <xs:annotation>
                    <xs:documentation>Mauritius</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="YT">
                <xs:annotation>
                    <xs:documentation>Mayotte</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MX">
                <xs:annotation>
                    <xs:documentation>Mexico</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FM">
                <xs:annotation>
                    <xs:documentation>Micronesia, Federated States Of</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MD">
                <xs:annotation>
                    <xs:documentation>Moldova, Republic Of</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MC">
                <xs:annotation>
                    <xs:documentation>Monaco</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MN">
                <xs:annotation>
                    <xs:documentation>Mongolia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ME">
                <xs:annotation>
                    <xs:documentation>Montenegro</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS">
                <xs:annotation>
                    <xs:documentation>Montserrat</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MA">
                <xs:annotation>
                    <xs:documentation>Morocco</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MZ">
                <xs:annotation>
                    <xs:documentation>Mozambique</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MM">
                <xs:annotation>
                    <xs:documentation>Myanmar</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NA">
                <xs:annotation>
                    <xs:documentation>Namibia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NR">
                <xs:annotation>
                    <xs:documentation>Nauru</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NP">
                <xs:annotation>
                    <xs:documentation>Nepal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NL">
                <xs:annotation>
                    <xs:documentation>Netherlands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AN">
                <xs:annotation>
                    <xs:documentation>Netherlands Antilles</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NC">
                <xs:annotation>
                    <xs:documentation>New Caledonia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NZ">
                <xs:annotation>
                    <xs:documentation>New Zealand</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NI">
                <xs:annotation>
                    <xs:documentation>Nicaragua</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NE">
                <xs:annotation>
                    <xs:documentation>Niger</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NG">
                <xs:annotation>
                    <xs:documentation>Nigeria</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NU">
                <xs:annotation>
                    <xs:documentation>Niue</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NF">
                <xs:annotation>
                    <xs:documentation>Norfolk Island</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRNC">
                <xs:annotation>
                    <xs:documentation>Northern Cyprus</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MP">
                <xs:annotation>
                    <xs:documentation>Northern Mariana Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NO">
                <xs:annotation>
                    <xs:documentation>Norway</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OM">
                <xs:annotation>
                    <xs:documentation>Oman</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PK">
                <xs:annotation>
                    <xs:documentation>Pakistan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PW">
                <xs:annotation>
                    <xs:documentation>Palau</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PS">
                <xs:annotation>
                    <xs:documentation>Palestinian Territory, Occupied</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PA">
                <xs:annotation>
                    <xs:documentation>Panama</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PG">
                <xs:annotation>
                    <xs:documentation>Papua New Guinea</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PY">
                <xs:annotation>
                    <xs:documentation>Paraguay</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PE">
                <xs:annotation>
                    <xs:documentation>Peru</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PH">
                <xs:annotation>
                    <xs:documentation>Philippines</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PN">
                <xs:annotation>
                    <xs:documentation>Pitcairn</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PL">
                <xs:annotation>
                    <xs:documentation>Poland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PT">
                <xs:annotation>
                    <xs:documentation>Portugal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PR">
                <xs:annotation>
                    <xs:documentation>Puerto Rico</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="QA">
                <xs:annotation>
                    <xs:documentation>Qatar</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RE">
                <xs:annotation>
                    <xs:documentation>Reunion</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RO">
                <xs:annotation>
                    <xs:documentation>Romania</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RU">
                <xs:annotation>
                    <xs:documentation>Russian Federation</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RW">
                <xs:annotation>
                    <xs:documentation>Rwanda</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SH">
                <xs:annotation>
                    <xs:documentation>Saint Helena</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KN">
                <xs:annotation>
                    <xs:documentation>Saint Kitts and Nevis</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LC">
                <xs:annotation>
                    <xs:documentation>Saint Lucia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PM">
                <xs:annotation>
                    <xs:documentation>Saint Pierre and Miquelon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VC">
                <xs:annotation>
                    <xs:documentation>Saint Vincent and The Grenadines</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WS">
                <xs:annotation>
                    <xs:documentation>Samoa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SM">
                <xs:annotation>
                    <xs:documentation>San Marino</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ST">
                <xs:annotation>
                    <xs:documentation>Sao Tome and Principe</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SA">
                <xs:annotation>
                    <xs:documentation>Saudi Arabia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SN">
                <xs:annotation>
                    <xs:documentation>Senegal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CS">
                <xs:annotation>
                    <xs:documentation>Serbia and Montenegro</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SC">
                <xs:annotation>
                    <xs:documentation>Seychelles</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RS">
                <xs:annotation>
                    <xs:documentation>Serbia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SL">
                <xs:annotation>
                    <xs:documentation>Sierra Leone</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SG">
                <xs:annotation>
                    <xs:documentation>Singapore</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SK">
                <xs:annotation>
                    <xs:documentation>Slovakia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SI">
                <xs:annotation>
                    <xs:documentation>Slovenia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SB">
                <xs:annotation>
                    <xs:documentation>Solomon Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SO">
                <xs:annotation>
                    <xs:documentation>Somalia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZA">
                <xs:annotation>
                    <xs:documentation>South Africa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GS">
                <xs:annotation>
                    <xs:documentation>South Georgia and The South Sandwich Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SS">
                <xs:annotation>
                    <xs:documentation>South Sudan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ES">
                <xs:annotation>
                    <xs:documentation>Spain</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LK">
                <xs:annotation>
                    <xs:documentation>Sri Lanka</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SD">
                <xs:annotation>
                    <xs:documentation>Sudan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SR">
                <xs:annotation>
                    <xs:documentation>Suriname</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SJ">
                <xs:annotation>
                    <xs:documentation>Svalbard and Jan Mayen Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SZ">
                <xs:annotation>
                    <xs:documentation>Swaziland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SE">
                <xs:annotation>
                    <xs:documentation>Sweden</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CH">
                <xs:annotation>
                    <xs:documentation>Switzerland</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SY">
                <xs:annotation>
                    <xs:documentation>Syrian Arab Republic</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TW">
                <xs:annotation>
                    <xs:documentation>Taiwan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TJ">
                <xs:annotation>
                    <xs:documentation>Tajikistan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TZ">
                <xs:annotation>
                    <xs:documentation>Tanzania, United Republic Of</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TH">
                <xs:annotation>
                    <xs:documentation>Thailand</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TL">
                <xs:annotation>
                    <xs:documentation>Timor-Leste</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TG">
                <xs:annotation>
                    <xs:documentation>Togo</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TK">
                <xs:annotation>
                    <xs:documentation>Tokelau</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TO">
                <xs:annotation>
                    <xs:documentation>Tonga</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TT">
                <xs:annotation>
                    <xs:documentation>Trinidad and Tobago</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TN">
                <xs:annotation>
                    <xs:documentation>Tunisia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TR">
                <xs:annotation>
                    <xs:documentation>Turkey</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TM">
                <xs:annotation>
                    <xs:documentation>Turkmenistan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TC">
                <xs:annotation>
                    <xs:documentation>Turks and Caicos Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TV">
                <xs:annotation>
                    <xs:documentation>Tuvalu</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UG">
                <xs:annotation>
                    <xs:documentation>Uganda</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UA">
                <xs:annotation>
                    <xs:documentation>Ukraine</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AE">
                <xs:annotation>
                    <xs:documentation>United Arab Emirates</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GB">
                <xs:annotation>
                    <xs:documentation>United Kingdom</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="US">
                <xs:annotation>
                    <xs:documentation>United States</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM">
                <xs:annotation>
                    <xs:documentation>United States Minor Outlying Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UY">
                <xs:annotation>
                    <xs:documentation>Uruguay</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UZ">
                <xs:annotation>
                    <xs:documentation>Uzbekistan</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VU">
                <xs:annotation>
                    <xs:documentation>Vanuatu</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VA">
                <xs:annotation>
                    <xs:documentation>Vatican City State (Holy See)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VE">
                <xs:annotation>
                    <xs:documentation>Venezuela</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VN">
                <xs:annotation>
                    <xs:documentation>Viet Nam</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VG">
                <xs:annotation>
                    <xs:documentation>Virgin Islands (British)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VI">
                <xs:annotation>
                    <xs:documentation>Virgin Islands (U.S.)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WF">
                <xs:annotation>
                    <xs:documentation>Wallis and Futuna Islands</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EH">
                <xs:annotation>
                    <xs:documentation>Western Sahara</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="YE">
                <xs:annotation>
                    <xs:documentation>Yemen</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZM">
                <xs:annotation>
                    <xs:documentation>Zambia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZW">
                <xs:annotation>
                    <xs:documentation>Zimbabwe</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Name" type="InternationalStringType"/>
    <xs:element name="Latitude">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="-90"/>
                <xs:maxInclusive value="90"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Longitude">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="-180"/>
                <xs:maxInclusive value="180"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:complexType name="LocationType">
        <xs:complexContent>
            <xs:extension base="IdentifiableType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="Name"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="Abbreviation"/>
                    <xs:element minOccurs="0" ref="MapLocation"/>
                    <xs:element name="Address" maxOccurs="1" minOccurs="0" type="AddressType"/>
                    <xs:element ref="TimeZone" minOccurs="0"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="WebSite"/>
                    <xs:element name="Telephone" type="TelephoneType" maxOccurs="unbounded"
                        minOccurs="0"/>
                    <xs:element name="Email" type="EmailType" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
                <xs:attributeGroup ref="VALIDITY_PERIOD"/>
                <xs:attribute name="countryCode" type="Iso2CountryCodeType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="OrganizationType">
        <xs:complexContent>
            <xs:extension base="IdentifiableType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ExternalId">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute name="type" type="xs:string" use="required"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" ref="Name"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="Abbreviation"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Description"
                        type="InternationalStringType"/>
                    <xs:element maxOccurs="unbounded" name="Location" type="LocationType"
                        minOccurs="0"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="WebSite"/>
                    <xs:element name="Telephone" type="TelephoneType" maxOccurs="unbounded"
                        minOccurs="0"/>
                    <xs:element name="Email" type="EmailType" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element name="Operations">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Area" maxOccurs="unbounded" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>Describe geographical areas where theorganization is active</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element ref="Description"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="Sector" maxOccurs="unbounded" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation/>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element ref="Description"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="scope" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="international"/>
                                        <xs:enumeration value="regional"/>
                                        <xs:enumeration value="national"/>
                                        <xs:enumeration value="subnational"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Profile">
                        <xs:annotation>
                            <xs:documentation>Describes data and metadata management practices</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="DataPractices" type="InternationalStringType"
                                    maxOccurs="unbounded" minOccurs="0"/>
                                <xs:element name="MetadataPractices" type="InternationalStringType"
                                    maxOccurs="unbounded" minOccurs="0"/>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Uses">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Description"
                                                type="InternationalStringType" maxOccurs="unbounded"
                                                minOccurs="0"/>
                                        </xs:sequence>
                                        <xs:attributeGroup ref="VALIDITY_PERIOD"/>
                                        <xs:attribute name="specification" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:enumeration value="dublincore"/>
                                                  <xs:enumeration value="ddi"/>
                                                  <xs:enumeration value="iso11179"/>
                                                  <xs:enumeration value="iso19115"/>
                                                  <xs:enumeration value="sdmx"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="version" type="xs:string" use="required"/>
                                        <xs:attribute default="false" name="produces"
                                            type="xs:boolean"/>
                                        <xs:attribute default="false" name="consumes"
                                            type="xs:boolean"/>
                                        <xs:attribute name="visibility">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:enumeration value="internal"/>
                                                  <xs:enumeration value="restricted"/>
                                                  <xs:enumeration value="public"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Services" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Describes various services available at this organization</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                                <xs:element name="DataServicesDescription"
                                    type="InternationalStringType" maxOccurs="unbounded"
                                    minOccurs="0"/>
                                <xs:element name="MetadataServicesDescription"
                                    type="InternationalStringType" maxOccurs="unbounded"
                                    minOccurs="0"/>
                                <xs:element ref="Service" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="Tags"/>
                    <xs:element minOccurs="0" name="EventLog" type="EventLogType"> </xs:element>
                </xs:sequence>
                <xs:attribute name="primaryLocationId" type="BaseIDType"/>
                <xs:attribute name="status" default="draft">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="new"/>
                            <xs:enumeration value="draft"/>
                            <xs:enumeration value="approved"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="entityType" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="academic"/>
                            <xs:enumeration value="ngo"/>
                            <xs:enumeration value="nonprofit"/>
                            <xs:enumeration value="international"/>
                            <xs:enumeration value="public"/>
                            <xs:enumeration value="private"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="updated" type="xs:dateTime"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:attributeGroup name="PRIVACY">
        <xs:attribute name="privacy" type="PrivacyCodeType" use="optional"/>
    </xs:attributeGroup>
    <xs:simpleType name="PrivacyCodeType">
        <xs:union memberTypes="xs:string RecommendedPrivacyCodeType"/>
    </xs:simpleType>
    <xs:simpleType name="RecommendedPrivacyCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="public"/>
            <xs:enumeration value="internal"/>
            <xs:enumeration value="private"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TelephoneType">
        <xs:annotation>
            <xs:documentation>A telephone number</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="PRIVACY"/>
                <xs:attributeGroup ref="VERIFICATION_STATUS"/>
                <xs:attribute name="type" type="TelephoneTypeCodeType" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="TelephoneTypeCodeType">
        <xs:annotation>
            <xs:documentation>Indicates type of telephone number</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="xs:NMTOKENS VCardTelephoneTypeCodeType"/>
    </xs:simpleType>
    <xs:simpleType name="VCardTelephoneTypeCodeType">
        <xs:annotation>
            <xs:documentation>Enumeration of telephone type defined by the vCard specification. Default is voice</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NMTOKENS">
            <xs:enumeration value="home"/>
            <xs:enumeration value="msg"/>
            <xs:enumeration value="work"/>
            <xs:enumeration value="pref"/>
            <xs:enumeration value="voice"/>
            <xs:enumeration value="fax"/>
            <xs:enumeration value="cell"/>
            <xs:enumeration value="video"/>
            <xs:enumeration value="pager"/>
            <xs:enumeration value="bbs"/>
            <xs:enumeration value="modem"/>
            <xs:enumeration value="car"/>
            <xs:enumeration value="isdn"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="TimeZone" type="TimeZoneCodeType">
        <xs:annotation>
            <xs:documentation>Coded values specifying time zones as an offset from Greenwich Meridian Time. For example, United States Eastern Standard Time is -5.00.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:simpleType name="TimeZoneCodeType">
        <xs:annotation>
            <xs:documentation>Coded values specifying time zones as an offset from Greenwich Meridian Time. For example, United States Eastern Standard Time is -5.00.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Other"/>
            <xs:enumeration value="12.00"/>
            <xs:enumeration value="11.45"/>
            <xs:enumeration value="11.30"/>
            <xs:enumeration value="11.15"/>
            <xs:enumeration value="11.00"/>
            <xs:enumeration value="10.45"/>
            <xs:enumeration value="10.30"/>
            <xs:enumeration value="10.15"/>
            <xs:enumeration value="10.00"/>
            <xs:enumeration value="09.45"/>
            <xs:enumeration value="09.30"/>
            <xs:enumeration value="09.15"/>
            <xs:enumeration value="09.00"/>
            <xs:enumeration value="08.45"/>
            <xs:enumeration value="08.30"/>
            <xs:enumeration value="08.15"/>
            <xs:enumeration value="08.00"/>
            <xs:enumeration value="07.45"/>
            <xs:enumeration value="07.30"/>
            <xs:enumeration value="07.15"/>
            <xs:enumeration value="07.00"/>
            <xs:enumeration value="06.45"/>
            <xs:enumeration value="06.30"/>
            <xs:enumeration value="06.15"/>
            <xs:enumeration value="06.00"/>
            <xs:enumeration value="05.45"/>
            <xs:enumeration value="05.30"/>
            <xs:enumeration value="05.15"/>
            <xs:enumeration value="05.00"/>
            <xs:enumeration value="04.45"/>
            <xs:enumeration value="04.30"/>
            <xs:enumeration value="04.15"/>
            <xs:enumeration value="04.00"/>
            <xs:enumeration value="03.45"/>
            <xs:enumeration value="03.30"/>
            <xs:enumeration value="03.15"/>
            <xs:enumeration value="03.00"/>
            <xs:enumeration value="02.45"/>
            <xs:enumeration value="02.30"/>
            <xs:enumeration value="02.15"/>
            <xs:enumeration value="02.00"/>
            <xs:enumeration value="01.45"/>
            <xs:enumeration value="01.30"/>
            <xs:enumeration value="01.15"/>
            <xs:enumeration value="01.00"/>
            <xs:enumeration value="00.45"/>
            <xs:enumeration value="00.30"/>
            <xs:enumeration value="00.15"/>
            <xs:enumeration value="00.00"/>
            <xs:enumeration value="-00.15"/>
            <xs:enumeration value="-00.30"/>
            <xs:enumeration value="-00.45"/>
            <xs:enumeration value="-01.00"/>
            <xs:enumeration value="-01.15"/>
            <xs:enumeration value="-01.30"/>
            <xs:enumeration value="-01.45"/>
            <xs:enumeration value="-02.00"/>
            <xs:enumeration value="-02.15"/>
            <xs:enumeration value="-02.30"/>
            <xs:enumeration value="-02.45"/>
            <xs:enumeration value="-03.00"/>
            <xs:enumeration value="-03.15"/>
            <xs:enumeration value="-03.30"/>
            <xs:enumeration value="-03.45"/>
            <xs:enumeration value="-04.00"/>
            <xs:enumeration value="-04.15"/>
            <xs:enumeration value="-04.30"/>
            <xs:enumeration value="-04.45"/>
            <xs:enumeration value="-05.00"/>
            <xs:enumeration value="-05.15"/>
            <xs:enumeration value="-05.30"/>
            <xs:enumeration value="-05.45"/>
            <xs:enumeration value="-06.00"/>
            <xs:enumeration value="-06.15"/>
            <xs:enumeration value="-06.30"/>
            <xs:enumeration value="-06.45"/>
            <xs:enumeration value="-07.00"/>
            <xs:enumeration value="-07.15"/>
            <xs:enumeration value="-07.30"/>
            <xs:enumeration value="-07.45"/>
            <xs:enumeration value="-08.00"/>
            <xs:enumeration value="-08.15"/>
            <xs:enumeration value="-08.30"/>
            <xs:enumeration value="-08.45"/>
            <xs:enumeration value="-09.00"/>
            <xs:enumeration value="-09.15"/>
            <xs:enumeration value="-09.30"/>
            <xs:enumeration value="-09.45"/>
            <xs:enumeration value="-10.00"/>
            <xs:enumeration value="-10.15"/>
            <xs:enumeration value="-10.30"/>
            <xs:enumeration value="-10.45"/>
            <xs:enumeration value="-11.00"/>
            <xs:enumeration value="-11.15"/>
            <xs:enumeration value="-11.30"/>
            <xs:enumeration value="-11.45"/>
            <xs:enumeration value="-12.00"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UrlType">
        <xs:annotation>
            <xs:documentation>A web site URL</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:anyURI"> </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:attributeGroup name="VALIDITY_PERIOD">
        <xs:attribute name="validFrom" type="xs:date"/>
        <xs:attribute name="validTo" type="xs:date"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="VERIFICATION_STATUS">
        <xs:attribute name="verifiedOn" type="xs:dateTime"/>
        <xs:attribute name="verifiedBy" type="xs:string"/>
        <xs:attribute name="verifiedState" default="valid">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="valid"/>
                    <xs:enumeration value="invalid"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="Service" abstract="true" type="ServiceType"> </xs:element>
    <xs:complexType abstract="true" name="ServiceType">
        <xs:sequence>
            <xs:element ref="Description" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="WebSite"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DdiService" substitutionGroup="Service" type="DdiServiceType"/>
    <xs:complexType name="DdiServiceType">
        <xs:complexContent>
            <xs:extension base="ServiceType">
                <xs:attribute name="version">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="1.0"/>
                            <xs:enumeration value="1.01"/>
                            <xs:enumeration value="1.02"/>
                            <xs:enumeration value="1.02.1"/>
                            <xs:enumeration value="1.2.2"/>
                            <xs:enumeration value="1.3"/>
                            <xs:enumeration value="2.1"/>
                            <xs:enumeration value="2.5"/>
                            <xs:enumeration value="3.1"/>
                            <xs:enumeration value="3.2"/>
                            <xs:enumeration value="codebook"/>
                            <xs:enumeration value="lifecycle"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="IhsnNadaService" substitutionGroup="Service" type="IhsnNadaServiceType"/>
    <xs:complexType name="IhsnNadaServiceType">
        <xs:complexContent>
            <xs:extension base="ServiceType">
                <xs:sequence>
                    <xs:element name="Catalog" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="version">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:enumeration value="1"/>
                            <xs:enumeration value="2"/>
                            <xs:enumeration value="3"/>
                            <xs:enumeration value="4"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SdmxWebService" substitutionGroup="Service" type="SdmxWebServiceType"/>
    <xs:complexType name="SdmxWebServiceType">
        <xs:complexContent>
            <xs:extension base="ServiceType">
                <xs:sequence>
                    <xs:element ref="RestServiceDefinition" minOccurs="1"/>
                    <xs:element ref="SoapServiceDefinition"/>
                </xs:sequence>
                <xs:attribute name="version">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:enumeration value="1.0"/>
                            <xs:enumeration value="2.0"/>
                            <xs:enumeration value="2.1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="UserService" substitutionGroup="Service" type="UserServiceType"/>
    <xs:complexType name="UserServiceType">
        <xs:annotation>
            <xs:documentation>Describes a human friendly service (non-machine actionable)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ServiceType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="NesstarService" substitutionGroup="Service">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="NesstarServiceType">
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ServerName" type="xs:NCName"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="NesstarServiceType">
        <xs:complexContent>
            <xs:extension base="ServiceType">
                <xs:attribute name="version">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="1.0"/>
                            <xs:maxExclusive value="5.0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="RestServiceDefinition" type="RestServiceDefinitionType"/>
    <xs:complexType name="RestServiceDefinitionType">
        <xs:annotation>
            <xs:documentation>Definition of a Representational state transferservice</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ServiceUrl" type="UrlType"/>
            <xs:element name="WadlUrl" type="UrlType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SoapServiceDefinition" type="SoapServiceDefinitionType"/>
    <xs:complexType name="SoapServiceDefinitionType">
        <xs:annotation>
            <xs:documentation>Definition of a SOAP based web service</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ServiceUrl" type="UrlType"/>
            <xs:element name="WsdlUrl" type="UrlType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WebSite" type="WebSiteType"> </xs:element>
    <xs:complexType name="WebSiteType">
        <xs:sequence>
            <xs:element name="DisplayLabel" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="Description"/>
            <xs:element name="Url" type="UrlType"/>
        </xs:sequence>
        <xs:attributeGroup ref="PRIVACY"/>
        <xs:attributeGroup ref="VALIDITY_PERIOD"/>
        <xs:attributeGroup ref="VERIFICATION_STATUS"/>
        <xs:attribute ref="xml:lang"/>
    </xs:complexType>
    <xs:element name="DataService" substitutionGroup="Service" type="DataServiceType"/>
    <xs:complexType name="DataServiceType">
        <xs:annotation>
            <xs:documentation>Description of a generic service that provides access to data</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ServiceType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="MapLocation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Longitude"/>
                <xs:element ref="Latitude"/>
            </xs:sequence>
            <xs:attribute name="accuracy">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="country"/>
                        <xs:enumeration value="province"/>
                        <xs:enumeration value="city"/>
                        <xs:enumeration value="block"/>
                        <xs:enumeration value="street"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="Member" type="MemberType"/>
    <xs:complexType name="MemberType">
        <xs:complexContent>
            <xs:extension base="IdentifiableType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Role"
                        type="InternationalStringType"/>
                </xs:sequence>
                <xs:attributeGroup ref="VALIDITY_PERIOD"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Tags" type="TagsType"/>
    <xs:element default="" name="Tag" type="TagType"/>
    <xs:complexType name="TagsType">
        <xs:sequence>
            <xs:element minOccurs="0" ref="Tag" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="TagType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="key" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
